* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none; /* Hide default mouse cursor */
    background-color: #0A0A0A;
  }
  
  #gameArea {
    position: relative;
    width: 100%;
    height: 100%;
  }
  /*Cursor properties */
  .square {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10000;
  }
  
  .trail {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
  }
  
  .random-square {
    width: 11px;
    height: 11px;
    background-color: red;
    animation: removeAfter10s 10s forwards;
  }
  
  @keyframes removeAfter10s {
    0% { opacity: 1; }
    100% { opacity: .9; } /* No fading, just immediate removal */
  }